* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
:root {
    --blk-solid: 5px black solid;
}

nav a {
    text-decoration: none;
    list-style: none;
    font-weight: bold;
    text-align: center;
}


.main-container {
display: grid;
grid-template-columns: repeat(12,1fr);
grid-template-rows: repeat(12,1fr);
/* background-color: rgb(108, 107, 107); */
gap: 5px;

margin: 5px;
}

.header{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    background-color: white;
    gap: 10px;
    grid-column: 1 / span 12;
    align-items: center;
    padding: 20px;
    justify-content: center;
    border: var(--blk-solid);
}

.header h1 {
    grid-column: 1 / span 6;
}
.header nav {
    grid-column: 7/span 6;
    justify-self: end;
}
body {
    display:grid;
    font-family: Arial, Helvetica, sans-serif;
    
}
.content1, .content2 , .content3 , .content4 {
    display: grid;
    gap: 10px;
    background-color: whitesmoke;
    border: var(--blk-solid);
    border-radius: 5px;
    
}
.content1 {
    
    grid-column: 1/span 6;
    grid-row: span 3;
    background-color: #0084ff;

}
.content2 {
    grid-column: 1/span 6;
    grid-row: span 6;
    background-color: yellow;

}
.content3 {
    grid-column: 1/span 12;
    grid-row: span 3;

}

.content4 {
    grid-column: 7/span 6;
    grid-row: 2/ span 9;
    background-color: blue;
    

}
.registration {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5PX;
    border: 5px solid black;
}
form {
    display: grid;
    gap: 20px;
    grid-row: span 2;
    grid-column: 4 / 9;
    background-color: rgb(210, 210, 210);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
/* .register {
    background-color: red;
    display: grid;
} */
.content input {
    width: 30rem;
        margin: 10px;
        padding: 10px;
}
section {
    padding: 1rem;
}
article {
    margin: 5px;
}

.a1 {
    background-color: red;
}

.a2 {
    background-color: blueviolet;
}

.a3 {
    background-color: yellow;
}
.a4 {
    background-color: green;
}

