* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body {

}
main {
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5PX;
    border: 5px solid black;
}
section {
    background-color: rgb(244, 244, 244);
    grid-column: 1 / 7;
    grid-row: span 2;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
    gap: 10px;
}

.form-section {
    gap: 20px;
    grid-column: 7 / 13;
    grid-row: span 2;
    display: grid;
    background-color: rgb(210, 210, 210);
    grid-template-columns: repeat(12, 1fr);
    
    
}
header {
   
    background-color: red;
    grid-column: 1 / 13;
    grid-row: 1 / 3;
    margin: 1rem 1rem 0rem 1rem;
}
.restaurant {
    grid-row: 3 / 13;
    background-color: white;
    grid-column: 1 / 6;
    background-color: blue;
    
    grid-column: 1 / 13;
    margin: 0px 1rem 1rem;
}

 .eatform {
/* background-color: red; */
background-color: rgba(232, 232, 13, 0.5);
    opacity: 1;
    color: whitesmoke;
    padding: 10px;
    display: grid;
    grid-column: 1 / span 13 ;
    margin: 1rem;
   
}

.navigate {
    margin: 1rem;
    background-color: wheat;
    grid-column: 1 / span 13;
}



.content input{
   width:calc(96%);
    margin: 10px;
    padding: 10px;

}


